.projects {
    padding-bottom: 2em;
    border-radius: 50px;
    background-color: #242320;
    color: #CCCCC3;
}

.header {
    padding: 5vw 10vw;
}
.header h2 {
    font-size: 4.8vw;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}
.header h3 {
    font-size: 1.8vw;
    font-weight: 700;
    margin: 0;
    margin-bottom: 3em;
    position: relative;
}
.header p {
    font-size: 1.2vw;
    font-weight: 500;
    margin-bottom: 3em;
}
.projectList {
    font-size: 1.2vw;
}
.projectListHeading,
.projectItem {
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #CCCCC3;
}
.projectListHeading {
    text-transform: uppercase;
    font-weight: 600;
}
.projectItem {
    overflow: hidden;
    cursor: pointer;
}
.projectItem:hover p {
    color: #242320;
    z-index: 1;
}
.projectItem:hover p:first-of-type {
    padding-left: 3vw;
    padding-right: 1vw;
}
.projectItem:hover .projectItemBackground {
    top: 0;
}
.projectItem p,
.projectListHeading p {
    position: relative;
    width: 100%;
    padding: 1vw 2vw;
    transition: color 700ms;
}
.projectItem p:first-of-type {
    transition: padding 500ms;
}
.projectItem p:last-of-type,
.projectListHeading p:last-of-type{
    text-align: right;
    flex-basis: min-content;
}
.projectItemBackground {
    transition: all 200ms;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #CCCCC3;
    position: absolute;
    top: -100%;
}