.description{
    position: relative;
    margin-left: 10vw;
}
.description h2 {
    color: #080807;
    font-size: 4.8vw;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 5rem;
}
.description p{
    color: #383632;
    font-size: 2vw;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
}
.socials {
    margin-top: 5em;
    display: flex;
    gap: 4em;
}
.socials a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #383632;
    border-radius: 50%;
}