.highlight {
    padding: 5em 0;
    position: relative;
    background-color: #080807;
    border-radius: 50px;
    color: #CCCCC3;
    box-shadow: 0px 0px 120px 10px #38363257, 0px 0px 60px 5px #25232138;
}